# ML Restaurant Recommendation - Dependencies

# Core Data & ML
pandas
numpy
scipy
scikit-learn
sentence-transformers
torch
joblib
pyarrow
fastparquet

# Visualization
matplotlib
seaborn
plotly
wordcloud
pillow
ipykernel

# App & Ranking
streamlit
pydeck
nltk
vaderSentiment
